doctype html
html
    head
     link(rel="stylesheet", href="../bootstrap 3.4.1/bootstrap.min.css")
     script(src="../bootstrap 3.4.1/jquery-3.3.1.min.js")
     script(src="../bootstrap 3.4.1/bootstrap.min.js")
    body(style="background-color:lightgray")
      div(class="container")
       h2(class="lead text-primary") This Is Your Order
       p(class="lead text-primary") If you want to delete your order go back and delete your order
       hr
      each BedModel in orders
       div(class="container jumbotron")
        div(class="lead text-primary" style="border:1px solid gray;") Name: #{BedModel.FullName}
        div(class="lead text-primary" style="border:1px solid gray;") HotelName: #{BedModel.HotelName}
        div(class="lead text-primary" style="border:1px solid gray;") ManagerName: #{BedModel.ManagerName}
        div(class="lead text-primary" style="border:1px solid gray;") Email: #{BedModel.Email}
        div(class="lead text-primary" style="border:1px solid gray;") Phoneno: #{BedModel.PhoneNo}
        div(class="lead text-primary" style="border:1px solid gray;") CNIC: #{BedModel.CNIC}
        div(class="lead text-primary" style="border:1px solid gray;") Address: #{BedModel.Address}
        div(class="lead text-primary" style="border:1px solid gray;") BedsheetsVariety: #{BedModel.BedsheetsVariety}
        div(class="lead text-primary" style="border:1px solid gray;") BedsheetsColor: #{BedModel.BedsheetsColor}
        div(class="lead text-primary" style="border:1px solid gray;") BedsheetsQuantity: #{BedModel.BedsheetsQuantity}
        div(class="lead text-primary" style="border:1px solid gray;") BedsheetsBasicSizes: #{BedModel.BedsheetsBasicSizes}
        div(class="lead text-primary" style="border:1px solid gray;") BedsheetsLuxurySizes: #{BedModel.BedsheetsLuxurySizes}
        div(class="lead text-primary" style="border:1px solid gray;") OrderDate: #{BedModel.Date}
